rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // TEMPORARY DEV RULES — WORKS WITH CUSTOM LOGIN (NO FIREBASE AUTH)

    match /{document=**} {
      allow read, write: if true;
    }
  }
}
